{% extends "base.html" %}
{% load custom_filters %}
{% block title %}Панель управления{% endblock %}

{% block content %}
  <h1>Панель управления</h1>
  {% with total_images_created=request.user.images_created.count %}
    <p>Добро пожаловать на вашу панель управления. Вы добавили в закладки {{ total_images_created }} {{ total_images_created|ru_pluralize:"изображение,изображения,изображений" }}.</p>
  {% endwith %}
  <p>Перетащите следующую кнопку на панель инструментов закладок, чтобы добавить в закладки изображения из других веб-сайтов. → <a href="javascript:{% include "bookmarklet_launcher.js" %}" class="button">Добавьте в закладки</a></p>
  <p>Вы также можете <a href="{% url "edit" %}">изменить профиль</a> или <a href="{% url "password_change" %}">изменить пароль</a>.</p>

  <h2>История событий</h2>
  <div id="action-list">
    {% for action in actions %}
      {% include "actions/action/detail.html" %}
    {% endfor %}
  </div>
{% endblock %}
